/**
 * Brand-Primary color config
 */
$primary-color: false !default;
$primary-color-contrast: false !default;

$primary-color-dark: false !default;
$primary-color-dark-contrast: false !default;

$primary-color-darker: false !default;
$primary-color-darker-contrast: false !default;

$primary-color-light: false !default;
$primary-color-light-contrast: false !default;

$primary-color-lighter: false !default;
$primary-color-lighter-contrast: false !default;

@mixin set-primary-color($color: false, $contrast: false) {
  @if($color) {
    $primary-color: $color !global;
  }

  @if($color) {
    $primary-color-contrast: $contrast !global;
  }
}

@mixin set-primary-color-light($color: false, $contrast: false) {
  @if($color) {
    $primary-color-light: $color !global;
  }

  @if($color) {
    $primary-color-light-contrast: $contrast !global;
  }
}

@mixin set-primary-color-lighter($color: false, $contrast: false) {
  @if($color) {
    $primary-color-lighter: $color !global;
  }

  @if($color) {
    $primary-color-lighter-contrast: $contrast !global;
  }
}

@mixin set-primary-color-dark($color: false, $contrast: false) {
  @if($color) {
    $primary-color-dark: $color !global;
  }

  @if($color) {
    $primary-color-dark-contrast: $contrast !global;
  }
}

@mixin set-primary-color-darker($color: false, $contrast: false) {
  @if($color) {
    $primary-color-darker: $color !global;
  }

  @if($color) {
    $primary-color-darker-contrast: $contrast !global;
  }
}
/**
 * Brand-Secondary color config
 */
$secondary-color: false !default;
$secondary-color-contrast: false !default;

$secondary-color-dark: false !default;
$secondary-color-dark-contrast: false !default;

$secondary-color-darker: false !default;
$secondary-color-darker-contrast: false !default;

$secondary-color-light: false !default;
$secondary-color-light-contrast: false !default;

$secondary-color-lighter: false !default;
$secondary-color-lighter-contrast: false !default;

@mixin set-secondary-color($color: false, $contrast: false) {
  @if($color) {
    $secondary-color: $color !global;
  }

  @if($color) {
    $secondary-color-contrast: $contrast !global;
  }
}

@mixin set-secondary-color-light($color: false, $contrast: false) {
  @if($color) {
    $secondary-color-light: $color !global;
  }

  @if($color) {
    $secondary-color-light-contrast: $contrast !global;
  }
}

@mixin set-secondary-color-lighter($color: false, $contrast: false) {
  @if($color) {
    $secondary-color-lighter: $color !global;
  }

  @if($color) {
    $secondary-color-lighter-contrast: $contrast !global;
  }
}

@mixin set-secondary-color-dark($color: false, $contrast: false) {
  @if($color) {
    $secondary-color-dark: $color !global;
  }

  @if($color) {
    $secondary-color-dark-contrast: $contrast !global;
  }
}

@mixin set-secondary-color-darker($color: false, $contrast: false) {
  @if($color) {
    $secondary-color-darker: $color !global;
  }

  @if($color) {
    $secondary-color-darker-contrast: $contrast !global;
  }
}
/**
 * Info color config
 */
$info-color: false !default;
$info-color-contrast: false !default;

$info-color-dark: false !default;
$info-color-dark-contrast: false !default;

$info-color-darker: false !default;
$info-color-darker-contrast: false !default;

$info-color-light: false !default;
$info-color-light-contrast: false !default;

$info-color-lighter: false !default;
$info-color-lighter-contrast: false !default;

@mixin set-info-color($color: false, $contrast: false) {
  @if($color) {
    $info-color: $color !global;
  }

  @if($color) {
    $info-color-contrast: $contrast !global;
  }
}

@mixin set-info-color-light($color: false, $contrast: false) {
  @if($color) {
    $info-color-light: $color !global;
  }

  @if($color) {
    $info-color-light-contrast: $contrast !global;
  }
}

@mixin set-info-color-lighter($color: false, $contrast: false) {
  @if($color) {
    $info-color-lighter: $color !global;
  }

  @if($color) {
    $info-color-lighter-contrast: $contrast !global;
  }
}

@mixin set-info-color-dark($color: false, $contrast: false) {
  @if($color) {
    $info-color-dark: $color !global;
  }

  @if($color) {
    $info-color-dark-contrast: $contrast !global;
  }
}

@mixin set-info-color-darker($color: false, $contrast: false) {
  @if($color) {
    $info-color-darker: $color !global;
  }

  @if($color) {
    $info-color-darker-contrast: $contrast !global;
  }
}
/**
 * Warning color config
 */
$warning-color: false !default;
$warning-color-contrast: false !default;

$warning-color-dark: false !default;
$warning-color-dark-contrast: false !default;

$warning-color-darker: false !default;
$warning-color-darker-contrast: false !default;

$warning-color-light: false !default;
$warning-color-light-contrast: false !default;

$warning-color-lighter: false !default;
$warning-color-lighter-contrast: false !default;

@mixin set-warning-color($color: false, $contrast: false) {
  @if($color) {
    $warning-color: $color !global;
  }

  @if($color) {
    $warning-color-contrast: $contrast !global;
  }
}

@mixin set-warning-color-light($color: false, $contrast: false) {
  @if($color) {
    $warning-color-light: $color !global;
  }

  @if($color) {
    $warning-color-light-contrast: $contrast !global;
  }
}

@mixin set-warning-color-lighter($color: false, $contrast: false) {
  @if($color) {
    $warning-color-lighter: $color !global;
  }

  @if($color) {
    $warning-color-lighter-contrast: $contrast !global;
  }
}

@mixin set-warning-color-dark($color: false, $contrast: false) {
  @if($color) {
    $warning-color-dark: $color !global;
  }

  @if($color) {
    $warning-color-dark-contrast: $contrast !global;
  }
}

@mixin set-warning-color-darker($color: false, $contrast: false) {
  @if($color) {
    $warning-color-darker: $color !global;
  }

  @if($color) {
    $warning-color-darker-contrast: $contrast !global;
  }
}
/**
 * Success color config
 */
$success-color: false !default;
$success-color-contrast: false !default;

$success-color-dark: false !default;
$success-color-dark-contrast: false !default;

$success-color-darker: false !default;
$success-color-darker-contrast: false !default;

$success-color-light: false !default;
$success-color-light-contrast: false !default;

$success-color-lighter: false !default;
$success-color-lighter-contrast: false !default;

@mixin set-success-color($color: false, $contrast: false) {
  @if($color) {
    $success-color: $color !global;
  }

  @if($color) {
    $success-color-contrast: $contrast !global;
  }
}

@mixin set-success-color-light($color: false, $contrast: false) {
  @if($color) {
    $success-color-light: $color !global;
  }

  @if($color) {
    $success-color-light-contrast: $contrast !global;
  }
}

@mixin set-success-color-lighter($color: false, $contrast: false) {
  @if($color) {
    $success-color-lighter: $color !global;
  }

  @if($color) {
    $success-color-lighter-contrast: $contrast !global;
  }
}

@mixin set-success-color-dark($color: false, $contrast: false) {
  @if($color) {
    $success-color-dark: $color !global;
  }

  @if($color) {
    $success-color-dark-contrast: $contrast !global;
  }
}

@mixin set-success-color-darker($color: false, $contrast: false) {
  @if($color) {
    $success-color-darker: $color !global;
  }

  @if($color) {
    $success-color-darker-contrast: $contrast !global;
  }
}
/**
 * Danger color config
 */
$danger-color: false !default;
$danger-color-contrast: false !default;

$danger-color-dark: false !default;
$danger-color-dark-contrast: false !default;

$danger-color-darker: false !default;
$danger-color-darker-contrast: false !default;

$danger-color-light: false !default;
$danger-color-light-contrast: false !default;

$danger-color-lighter: false !default;
$danger-color-lighter-contrast: false !default;

@mixin set-danger-color($color: false, $contrast: false) {
  @if($color) {
    $danger-color: $color !global;
  }

  @if($color) {
    $danger-color-contrast: $contrast !global;
  }
}

@mixin set-danger-color-light($color: false, $contrast: false) {
  @if($color) {
    $danger-color-light: $color !global;
  }

  @if($color) {
    $danger-color-light-contrast: $contrast !global;
  }
}

@mixin set-danger-color-lighter($color: false, $contrast: false) {
  @if($color) {
    $danger-color-lighter: $color !global;
  }

  @if($color) {
    $danger-color-lighter-contrast: $contrast !global;
  }
}

@mixin set-danger-color-dark($color: false, $contrast: false) {
  @if($color) {
    $danger-color-dark: $color !global;
  }

  @if($color) {
    $danger-color-dark-contrast: $contrast !global;
  }
}

@mixin set-danger-color-darker($color: false, $contrast: false) {
  @if($color) {
    $danger-color-darker: $color !global;
  }

  @if($color) {
    $danger-color-darker-contrast: $contrast !global;
  }
}
/**
 * Alert color config
 */
$alert-color: false !default;
$alert-color-contrast: false !default;

$alert-color-dark: false !default;
$alert-color-dark-contrast: false !default;

$alert-color-darker: false !default;
$alert-color-darker-contrast: false !default;

$alert-color-light: false !default;
$alert-color-light-contrast: false !default;

$alert-color-lighter: false !default;
$alert-color-lighter-contrast: false !default;

@mixin set-alert-color($color: false, $contrast: false) {
  @if($color) {
    $alert-color: $color !global;
  }

  @if($color) {
    $alert-color-contrast: $contrast !global;
  }
}

@mixin set-alert-color-light($color: false, $contrast: false) {
  @if($color) {
    $alert-color-light: $color !global;
  }

  @if($color) {
    $alert-color-light-contrast: $contrast !global;
  }
}

@mixin set-alert-color-lighter($color: false, $contrast: false) {
  @if($color) {
    $alert-color-lighter: $color !global;
  }

  @if($color) {
    $alert-color-lighter-contrast: $contrast !global;
  }
}

@mixin set-alert-color-dark($color: false, $contrast: false) {
  @if($color) {
    $alert-color-dark: $color !global;
  }

  @if($color) {
    $alert-color-dark-contrast: $contrast !global;
  }
}

@mixin set-alert-color-darker($color: false, $contrast: false) {
  @if($color) {
    $alert-color-darker: $color !global;
  }

  @if($color) {
    $alert-color-darker-contrast: $contrast !global;
  }
}
/**
 * Target color config
 */
$target-color: false !default;
$target-color-contrast: false !default;

$target-color-dark: false !default;
$target-color-dark-contrast: false !default;

$target-color-darker: false !default;
$target-color-darker-contrast: false !default;

$target-color-light: false !default;
$target-color-light-contrast: false !default;

$target-color-lighter: false !default;
$target-color-lighter-contrast: false !default;

@mixin set-target-color($color: false, $contrast: false) {
  @if($color) {
    $target-color: $color !global;
  }

  @if($color) {
    $target-color-contrast: $contrast !global;
  }
}

@mixin set-target-color-light($color: false, $contrast: false) {
  @if($color) {
    $target-color-light: $color !global;
  }

  @if($color) {
    $target-color-light-contrast: $contrast !global;
  }
}

@mixin set-target-color-lighter($color: false, $contrast: false) {
  @if($color) {
    $target-color-lighter: $color !global;
  }

  @if($color) {
    $target-color-lighter-contrast: $contrast !global;
  }
}

@mixin set-target-color-dark($color: false, $contrast: false) {
  @if($color) {
    $target-color-dark: $color !global;
  }

  @if($color) {
    $target-color-dark-contrast: $contrast !global;
  }
}

@mixin set-target-color-darker($color: false, $contrast: false) {
  @if($color) {
    $target-color-darker: $color !global;
  }

  @if($color) {
    $target-color-darker-contrast: $contrast !global;
  }
}
/**
 * Focus color config
 */
$focus-color: false !default;
$focus-color-contrast: false !default;

$focus-color-dark: false !default;
$focus-color-dark-contrast: false !default;

$focus-color-darker: false !default;
$focus-color-darker-contrast: false !default;

$focus-color-light: false !default;
$focus-color-light-contrast: false !default;

$focus-color-lighter: false !default;
$focus-color-lighter-contrast: false !default;

@mixin set-focus-color($color: false, $contrast: false) {
  @if($color) {
    $focus-color: $color !global;
  }

  @if($color) {
    $focus-color-contrast: $contrast !global;
  }
}

@mixin set-focus-color-light($color: false, $contrast: false) {
  @if($color) {
    $focus-color-light: $color !global;
  }

  @if($color) {
    $focus-color-light-contrast: $contrast !global;
  }
}

@mixin set-focus-color-lighter($color: false, $contrast: false) {
  @if($color) {
    $focus-color-lighter: $color !global;
  }

  @if($color) {
    $focus-color-lighter-contrast: $contrast !global;
  }
}

@mixin set-focus-color-dark($color: false, $contrast: false) {
  @if($color) {
    $focus-color-dark: $color !global;
  }

  @if($color) {
    $focus-color-dark-contrast: $contrast !global;
  }
}

@mixin set-focus-color-darker($color: false, $contrast: false) {
  @if($color) {
    $focus-color-darker: $color !global;
  }

  @if($color) {
    $focus-color-darker-contrast: $contrast !global;
  }
}
/**
 * Disabled\ color config
 */
$disabled-color: false !default;
$disabled-color-contrast: false !default;

$disabled-color-dark: false !default;
$disabled-color-dark-contrast: false !default;

$disabled-color-darker: false !default;
$disabled-color-darker-contrast: false !default;

$disabled-color-light: false !default;
$disabled-color-light-contrast: false !default;

$disabled-color-lighter: false !default;
$disabled-color-lighter-contrast: false !default;

@mixin set-disabled-color($color: false, $contrast: false) {
  @if($color) {
    $disabled-color: $color !global;
  }

  @if($color) {
    $disabled-color-contrast: $contrast !global;
  }
}

@mixin set-disabled-color-light($color: false, $contrast: false) {
  @if($color) {
    $disabled-color-light: $color !global;
  }

  @if($color) {
    $disabled-color-light-contrast: $contrast !global;
  }
}

@mixin set-disabled-color-lighter($color: false, $contrast: false) {
  @if($color) {
    $disabled-color-lighter: $color !global;
  }

  @if($color) {
    $disabled-color-lighter-contrast: $contrast !global;
  }
}

@mixin set-disabled-color-dark($color: false, $contrast: false) {
  @if($color) {
    $disabled-color-dark: $color !global;
  }

  @if($color) {
    $disabled-color-dark-contrast: $contrast !global;
  }
}

@mixin set-disabled-color-darker($color: false, $contrast: false) {
  @if($color) {
    $disabled-color-darker: $color !global;
  }

  @if($color) {
    $disabled-color-darker-contrast: $contrast !global;
  }
}
/**
 * Notice color config
 */
$notice-color: false !default;
$notice-color-contrast: false !default;

$notice-color-dark: false !default;
$notice-color-dark-contrast: false !default;

$notice-color-darker: false !default;
$notice-color-darker-contrast: false !default;

$notice-color-light: false !default;
$notice-color-light-contrast: false !default;

$notice-color-lighter: false !default;
$notice-color-lighter-contrast: false !default;

@mixin set-notice-color($color: false, $contrast: false) {
  @if($color) {
    $notice-color: $color !global;
  }

  @if($color) {
    $notice-color-contrast: $contrast !global;
  }
}

@mixin set-notice-color-light($color: false, $contrast: false) {
  @if($color) {
    $notice-color-light: $color !global;
  }

  @if($color) {
    $notice-color-light-contrast: $contrast !global;
  }
}

@mixin set-notice-color-lighter($color: false, $contrast: false) {
  @if($color) {
    $notice-color-lighter: $color !global;
  }

  @if($color) {
    $notice-color-lighter-contrast: $contrast !global;
  }
}

@mixin set-notice-color-dark($color: false, $contrast: false) {
  @if($color) {
    $notice-color-dark: $color !global;
  }

  @if($color) {
    $notice-color-dark-contrast: $contrast !global;
  }
}

@mixin set-notice-color-darker($color: false, $contrast: false) {
  @if($color) {
    $notice-color-darker: $color !global;
  }

  @if($color) {
    $notice-color-darker-contrast: $contrast !global;
  }
}
/**
 * Text color config
 */
$text-color: false !default;
$text-color-contrast: false !default;

$text-color-dark: false !default;
$text-color-dark-contrast: false !default;

$text-color-darker: false !default;
$text-color-darker-contrast: false !default;

$text-color-light: false !default;
$text-color-light-contrast: false !default;

$text-color-lighter: false !default;
$text-color-lighter-contrast: false !default;

@mixin set-text-color($color: false, $contrast: false) {
  @if($color) {
    $text-color: $color !global;
  }

  @if($color) {
    $text-color-contrast: $contrast !global;
  }
}

@mixin set-text-color-light($color: false, $contrast: false) {
  @if($color) {
    $text-color-light: $color !global;
  }

  @if($color) {
    $text-color-light-contrast: $contrast !global;
  }
}

@mixin set-text-color-lighter($color: false, $contrast: false) {
  @if($color) {
    $text-color-lighter: $color !global;
  }

  @if($color) {
    $text-color-lighter-contrast: $contrast !global;
  }
}

@mixin set-text-color-dark($color: false, $contrast: false) {
  @if($color) {
    $text-color-dark: $color !global;
  }

  @if($color) {
    $text-color-dark-contrast: $contrast !global;
  }
}

@mixin set-text-color-darker($color: false, $contrast: false) {
  @if($color) {
    $text-color-darker: $color !global;
  }

  @if($color) {
    $text-color-darker-contrast: $contrast !global;
  }
}
/**
 * Gray color config
 */
$gray-color: false !default;
$gray-color-contrast: false !default;

$gray-color-dark: false !default;
$gray-color-dark-contrast: false !default;

$gray-color-darker: false !default;
$gray-color-darker-contrast: false !default;

$gray-color-light: false !default;
$gray-color-light-contrast: false !default;

$gray-color-lighter: false !default;
$gray-color-lighter-contrast: false !default;

@mixin set-gray-color($color: false, $contrast: false) {
  @if($color) {
    $gray-color: $color !global;
  }

  @if($color) {
    $gray-color-contrast: $contrast !global;
  }
}

@mixin set-gray-color-light($color: false, $contrast: false) {
  @if($color) {
    $gray-color-light: $color !global;
  }

  @if($color) {
    $gray-color-light-contrast: $contrast !global;
  }
}

@mixin set-gray-color-lighter($color: false, $contrast: false) {
  @if($color) {
    $gray-color-lighter: $color !global;
  }

  @if($color) {
    $gray-color-lighter-contrast: $contrast !global;
  }
}

@mixin set-gray-color-dark($color: false, $contrast: false) {
  @if($color) {
    $gray-color-dark: $color !global;
  }

  @if($color) {
    $gray-color-dark-contrast: $contrast !global;
  }
}

@mixin set-gray-color-darker($color: false, $contrast: false) {
  @if($color) {
    $gray-color-darker: $color !global;
  }

  @if($color) {
    $gray-color-darker-contrast: $contrast !global;
  }
}

$primary-border-radius: 0 !default;
$secondary-border-radius: 0 !default;
$tertiary-border-radius: 0 !default;

@mixin set-border-radius($primary: 0, $secondary: 0, $tertiary: 0) {
  @if($primary) {
    $primary-border-radius: $primary !global;
  }
  @if($secondary) {
    $secondary-border-radius: $secondary !global;
  }
  @if($tertiary) {
    $tertiary-border-radius: $tertiary !global;
  }
}

$primary-transition: false !default;
$secondary-transition: false !default;
$tertiary-transition: false !default;

@mixin set-transition($primary: false, $secondary: false, $tertiary: false) {
  @if($primary) {
    $primary-transition: $primary !global;
  }
  @if($secondary) {
    $secondary-transition: $secondary !global;
  }
  @if($tertiary) {
    $tertiary-transition: $tertiary !global;
  }
}

$primary-header-font-family: false !default;
$secondary-header-font-family: false !default;
$tertiary-header-font-family: false !default;

@mixin set-header-font-family($primary: false, $secondary: false, $tertiary: false) {
  @if($primary) {
    $primary-header-font-family: $primary !global;
  }
  @if($secondary) {
    $secondary-header-font-family: $secondary !global;
  }
  @if($tertiary) {
    $tertiary-header-font-family: $tertiary !global;
  }
}

$primary-text-font-family: false !default;
$secondary-text-font-family: false !default;
$tertiary-text-font-family: false !default;

@mixin set-text-font-family($primary: false, $secondary: false, $tertiary: false) {
  @if($primary) {
    $primary-text-font-family: $primary !global;
  }
  @if($secondary) {
    $secondary-text-font-family: $secondary !global;
  }
  @if($tertiary) {
    $tertiary-text-font-family: $tertiary !global;
  }
}

$primary-button-font-family: false !default;
$secondary-button-font-family: false !default;
$tertiary-button-font-family: false !default;

@mixin set-button-font-family($primary: false, $secondary: false, $tertiary: false) {
  @if($primary) {
    $primary-button-font-family: $primary !global;
  }
  @if($secondary) {
    $secondary-button-font-family: $secondary !global;
  }
  @if($tertiary) {
    $tertiary-button-font-family: $tertiary !global;
  }
}
$primary-header-font-size: false !default;
$secondary-header-font-size: false !default;
$tertiary-header-font-size: false !default;

@mixin set-header-font-size($primary: false, $secondary: false, $tertiary: false) {
  @if($primary) {
    $primary-header-font-size: $primary !global;
  }
  @if($secondary) {
    $secondary-header-font-size: $secondary !global;
  }
  @if($tertiary) {
    $tertiary-header-font-size: $tertiary !global;
  }
}

$primary-text-font-size: false !default;
$secondary-text-font-size: false !default;
$tertiary-text-font-size: false !default;

@mixin set-text-font-size($primary: false, $secondary: false, $tertiary: false) {
  @if($primary) {
    $primary-text-font-size: $primary !global;
  }
  @if($secondary) {
    $secondary-text-font-size: $secondary !global;
  }
  @if($tertiary) {
    $tertiary-text-font-size: $tertiary !global;
  }
}

$primary-button-font-size: false !default;
$secondary-button-font-size: false !default;
$tertiary-button-font-size: false !default;

@mixin set-button-font-size($primary: false, $secondary: false, $tertiary: false) {
  @if($primary) {
    $primary-button-font-size: $primary !global;
  }
  @if($secondary) {
    $secondary-button-font-size: $secondary !global;
  }
  @if($tertiary) {
    $tertiary-button-font-size: $tertiary !global;
  }
}